In [48]:
#Importing Modules

import numpy as np
import pandas as pd

In [49]:
#Understanding the Dataset

file = pd.read_csv('telescope_data.csv')
print(file.dtypes)
file.fillna(0) 
file.head()
#file.tail()

Unnamed: 0      int64
fLength       float64
fWidth        float64
fSize         float64
fConc         float64
fConc1        float64
fAsym         float64
fM3Long       float64
fM3Trans      float64
fAlpha        float64
fDist         float64
class          object
dtype: object

,Unnamed: 0,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g

In [50]:
print("Output classes: ", file['class'].unique())

Output classes:  ['g' 'h']

In [51]:
#Data Encoding

from sklearn import preprocessing

data_encoder = preprocessing.LabelEncoder()
file['class'] = data_encoder.fit_transform(file['class'])

#Testing Encoding
print(file.dtypes)
file.head()
#file.tail()

Unnamed: 0      int64
fLength       float64
fWidth        float64
fSize         float64
fConc         float64
fConc1        float64
fAsym         float64
fM3Long       float64
fM3Trans      float64
fAlpha        float64
fDist         float64
class           int32
dtype: object

,Unnamed: 0,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,0
1,1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,0
2,2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,0
3,3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,0
4,4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,0

In [52]:
X = file.iloc[:,1:11].copy() #copying columns 0 to 9
print(file.shape, X.shape)
X.head()

(19020, 12) (19020, 10)

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620

In [53]:
Y = file[['class']].copy()
print(Y.shape)
Y.head()

(19020, 1)

   class
0      0
1      0
2      0
3      0
4      0

In [54]:
#Train/Test Split
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=15)
print(X_train.shape, X_test.shape)

(13314, 10) (5706, 10)

In [55]:
#Machine Lerning

#Support Vector Machine(SVM)
from sklearn import svm
from sklearn.metrics import accuracy_score

clf = svm.SVC(gamma='scale')
clf.fit(X_train, Y_train.values.ravel())

pred = clf.predict(X_test)
print('Accuracy using Support Vector Machine(SVM): ', 100 * accuracy_score(Y_test.values.ravel(), pred))

Accuracy using Support Vector Machine(SVM):  82.12407991587803

In [56]:
#Multilayer Perceptron
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

clf = MLPClassifier(activation='logistic', solver='adam', alpha=1e-5, hidden_layer_sizes=(7, 5), learning_rate='adaptive', random_state=1)
clf.fit(X_train, Y_train.values.ravel())

pred = clf.predict(X_test)
print('Accuracy using Multilayer Perceptron: ', 100 * accuracy_score(Y_test.values.ravel(), pred))

Accuracy using Multilayer Perceptron:  82.40448650543287

In [57]:
#Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

clf = GaussianNB()
clf.fit(X_train, Y_train.values.ravel())

pred = clf.predict(X_test)
print('Accuracy using Gaussian Naive Bayes: ', 100 * accuracy_score(Y_test.values.ravel(), pred))

Accuracy using Gaussian Naive Bayes:  71.94181563266737